<html>
<head></head>
<body>
  <p>
    Click below to unsubscribe from our mailing list.
    <br>
    <button type="button" onclick="unsub()">Unsubscribe</button>

    <script>
    function unsub(){
      var url = "{{url}}";

      var data = {};
      data.receive_emails_enabled = "false";
      var json = JSON.stringify(data);

      var xhr = new XMLHttpRequest();
      xhr.open("PUT", url, true);
      xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
      xhr.onload = function () {
      	var response = JSON.parse(xhr.responseText);
      	if (xhr.readyState == 4 && xhr.status == "200") {
      		console.table(response);
          window.location = '/response/?action=unsubscribe&success=true'
      	} else {
      		console.error(response);
          window.location = '/response/?action=unsubscribe&success=false'
      	}
      }
      xhr.send(json);
    }
    </script>

  </p>
</body>
</html>
